@using WebSite.Models;
@using Microsoft.AspNet.Identity;


<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ChangePasswordPartial")
    </div>
</div>

<div>
    @Html.ActionLink("Tilbage til profil", "Profile", new {id = User.Identity.GetUserId()})
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
