@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<div style="background:transparent !important" class="jumbotron">
    <h2>Velkommen til TrafficControl, @User.Identity.GetUserName()</h2>
</div>
<div>
    TrafficControl er en fælles grænseflade for den aktuelle status samt historik for samtlige lyskryds i Randers Kommune. Portalen kan anvendes af medarbejdere ved Randers Kommune samt ansatte ved elektrikerfirmaet Strøm Hansen.
</div>